body{
  margin: 0;
}

:where(.css-dev-only-do-not-override-1me4733).ant-layout .ant-layout-sider{
  background: #1F1D2B;

  /* border-top-right-radius: 16px;
  border-bottom-right-radius: 16px; */
}

.ant-layout-sider-trigger{
  display: none;
}

.ant-layout-sider{
  width: 104px !important;
  min-width: 104px !important;
  max-width: 104px !important;
}

:where(.css-dev-only-do-not-override-1me4733).ant-menu-vertical .ant-menu-item{
  margin: 0 0 0 auto;
}

:where(.css-dev-only-do-not-override-1me4733).ant-menu-light .ant-menu-item-selected {
  color: #EA7C69;
}