body {
  margin: 0;
  font-family: "Barlow", sans-serif;
}

:where(.css-dev-only-do-not-override-1me4733).ant-layout .ant-layout-sider,
:where(.css-1me4733).ant-layout .ant-layout-sider {
  background: #1f1d2b;

  /* border-top-right-radius: 16px;
  border-bottom-right-radius: 16px; */
}

.ant-layout-sider-trigger {
  display: none;
}

.ant-layout-sider {
  width: 104px !important;
  min-width: 104px !important;
  max-width: 104px !important;
}

:where(.css-dev-only-do-not-override-1me4733).ant-menu-vertical .ant-menu-item,
li.ant-menu-item {
  margin: 0 0 0 auto;
  color: #ea7c69;
  transition: 0.1s all linear;
}

:where(.css-dev-only-do-not-override-1me4733).ant-menu-vertical
  .ant-menu-item
  .ant-menu-item-icon {
  transition: 0.1s all linear;
  padding: 15px;
  margin: 10px 0 10px -15px;
  border-radius: 8px;
}

:where(.css-dev-only-do-not-override-1me4733).ant-menu-light
  .ant-menu-item-selected,
  :where(.css-1me4733).ant-menu-light .ant-menu-item-selected {
  color: #fff;
  background: #252836;
}

:where(
    .css-dev-only-do-not-override-1me4733
  ).ant-menu-light.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
}

:where(.css-dev-only-do-not-override-1me4733).ant-menu .ant-menu-item,
:where(.css-1me4733).ant-menu-inline-collapsed >.ant-menu-item {
  border-radius: 12px 0px 0px 12px;
}

:where(.css-dev-only-do-not-override-1me4733).ant-menu-light
  .ant-menu-item-selected
  .ant-menu-item-icon {
  padding: 15px;
  margin: 10px 0 10px -15px;
  background: #ea7c69;
  box-shadow: 0px 8px 24px rgb(234 124 105 / 32%);
  border-radius: 8px;
}

:where(.css-dev-only-do-not-override-1me4733).ant-menu-vertical
  > .ant-menu-item,
  :where(.css-1me4733).ant-menu-inline-collapsed >.ant-menu-item {
  height: auto;
}

:where(.css-dev-only-do-not-override-1me4733).ant-menu-light
  .ant-menu-item:hover:not(.ant-menu-item-selected):not(
    .ant-menu-submenu-selected
  ) {
  color: #ea7c69;
}

:where(.css-dev-only-do-not-override-1me4733).ant-menu-light:not(
    .ant-menu-horizontal
  )
  .ant-menu-item:not(.ant-menu-item-selected):active {
  background: #252836;
}

:where(.css-dev-only-do-not-override-1me4733).ant-menu-light
  .ant-menu-item-selected
  ~ .Sidebar_image_body__Yc3Rv {
  border: 2px solid red;
}

:where(.css-dev-only-do-not-override-1me4733).ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: #ea7c69;
}
:where(.css-dev-only-do-not-override-1me4733).ant-tabs .ant-tabs-tab,
:where(.css-dev-only-do-not-override-1me4733).ant-tabs .ant-tabs-tab:hover {
  color: #fff;
  font-family: "Barlow", sans-serif;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
}
.tabs {
  margin-top: 17px;
  width: 100%;
}
.redBorder .ant-tabs-ink-bar {
  background-color: #e94747;
}
.greenBorder .ant-tabs-ink-bar {
  background-color: #24ad52;
}
.blueGreyBorder .ant-tabs-ink-bar {
  background-color: #5b708b;
}

.ant-tabs-nav-list {
  border-bottom: 1px solid #393c49;
}

.ant-select-selector {
  background-color: transparent !important;
}

:where(.css-dev-only-do-not-override-1me4733).ant-select,
.ant-select-selector,
.ant-select,
.ant-select-arrow {
  color: #fff !important;
}

:where(.css-dev-only-do-not-override-1me4733).ant-drawer .ant-drawer-content,
:where(.css-1me4733).ant-drawer .ant-drawer-content {
  background: #1f1d2b;
}

:where(.css-dev-only-do-not-override-1me4733).ant-select:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  background: #1f1d2b;
  border: 1px solid #393c49;
  border-radius: 8px;
}

:where(.css-dev-only-do-not-override-1me4733).ant-drawer .ant-drawer-title {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;

  color: #ffffff;
}

:where(.css-dev-only-do-not-override-1me4733).ant-drawer .ant-drawer-header{
  display: none;
}

:where(.css-dev-only-do-not-override-1me4733).ant-drawer-right>.ant-drawer-content-wrapper,
:where(.css-1me4733).ant-drawer-right>.ant-drawer-content-wrapper{
  width:500px !important
}